<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Rxjs POC

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/Observables">
      <span>Observables</span>
    </button>
    &nbsp;

    <button mat-button class="menu-button" routerLink="/customObservables">
      <span>customObservable</span>
    </button>
    &nbsp;

    <button mat-button class="menu-button" routerLink="/combineAll">
      <span>combineAllLatest </span>
    </button>
    &nbsp;

    <button mat-button class="menu-button" routerLink="/combineLatest">
      <span>combineLatest </span>
    </button>
    &nbsp;

    <button mat-button class="menu-button" routerLink="/concat">
      <span>concat</span>
    </button>
    &nbsp;
    <button mat-button class="menu-button" routerLink="/concatAll">
      <span>concatAll</span>
    </button>

    &nbsp;
    <button mat-button class="menu-button" routerLink="/forkJoin">
      <span>forkJoin</span>
    </button>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
